header{
    background-image: url("../img/header/headerImg.jpg");
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

ul {
    list-style: none;  
}

#listHeader{
    display: flex;   
}

#homeCarousel{
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;

}
.carousel img{
    height:370px;
    width: 650px;   
}

#footer{
    background-color: #eeeeee;
}

#calendar, #agricultureFest{
    height:350px;
    width: 380px;   
}

#accountList{
    display: flex;
    flex-direction: column;
}

#formBody{
    background-color: #eeeeee;
}

#connexionContainer{
    display: flex;
    justify-content:  center;
}

#connexionContainer form{
    width: 15rem;
}

/* Hover concernant l'image du salon de l'agriculture */
.view-first img {
  transition: all 0.2s linear;
  width: 300px;
  height: 200px;
}

.view-first .mask {
  opacity: 0;
  background-color: rgba(58, 1, 132, 0.44);
  transition: all 0.4s ease-in-out;
}

.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  font-family: Raleway, serif;
  transition: all 0.2s ease-in-out;
}

.view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/* */
.view-first:hover img {
  transform: scale(1.1);
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}

.view-first:hover p {
  transition-delay: 0.1s;
}

.view-first:hover a.info {
  transition-delay: 0.2s;
}