header{
    background-image: url("../img/header/headerImg.jpg");
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

body{
    background-color: #f3f2ee;
}

ul {
    list-style: none;  
}

#listHeader{
    display: flex;   
}

#navbar{
    background-color: #cfcfd1;
}

#homeCarousel{
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;

}
.carousel img{
    height:370px;
    width: 650px;   
}

#footer{
    background-color: #cfcfd1;
}

#calendar, #cowPhoto{
    height:350px;
    width: 380px;   
}

#accountList{
    display: flex;
    flex-direction: column;
}

#formBody{
    background-color: #eeeeee;
}

#connexionContainer form{
    width: 14rem;
}

#idTitle, .identifyProfile{
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 1rem;
}

#registrationForm, #editClientProfile{
    margin-left: auto;
    margin-right: auto;
    width: 30em; 
}

span{
    font-weight: bold;
}

/*Partie Hover sur la photo avec la vache */
.container{
    padding: 1em 0;
    float: left;
    width: 50%;
}
@media screen and (max-width: 640px){
    .container{
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 900px){
    .container{
        width: 33.33333%;
    }
}

.container .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
}

.content-image{
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p{
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom{
    top: 80%;
}
/* Fin */